<section class="movie-details">
    <div class="image"> <%= image_tag @movie.image_file_name %></div>
    <div class="details">
        <h1><%= @movie.title %></h1>
        <h2><%= render "shared/stars", percent: review_score(@movie)%></h2>
        <h2><%= link_to pluralize(review_count(@movie), "reviews"), movie_reviews_path(@movie) %></h2>
        <h2> <%= release_date(@movie) %> &bull; <%= @movie.rating %> </h2>
        <p><%= @movie.description %></p>

        <table>
            <tr>
                <th>Total Gross:</th>
                <td><%= total_gross(@movie)%></td>
                <td><%= review_score(@movie) %></td>
            </tr>
        </table>
    </div>
    <%= link_to "Review this movie!", new_movie_review_path(@movie) %>
    
    <section class="admin">
        <%= link_to "Edit", edit_movie_path, class:"button" %>
        <%= link_to "Delete", @movie, class:'button', data:{ turbo_method: :delete, turbo_confirm: "Are you sure you want to delete \"#{@movie.title}\"?"}%>
        <%= link_to "Back", :back, class:'button' %>
    </section>
</section>