<section class="movie-details">
    <div class="details">
        <h1><%= @movie.title %></h1>
        <h2> <%= release_date(@movie) %> &bull; <%= @movie.rating %> </h2>
        <p><%= @movie.description %></p>

        <table>
            <tr>
                <th>Total Gross:</th>
                <td><%= total_gross(@movie)%></td>
            </tr>
        </table>
    </div>
    <section class="admin">
        <%= link_to "Edit", edit_movie_path, class:"button" %>
        <%= link_to "Back", :back, class:'button' %>
    </section>
</section>