<section class="user">
    <%= profile_pic(@user)%>
    <h1><%= @user.name %></h1>
    <h2><%= link_to @user.email %> </h2>
</section>
<section class="admin">
    <%= link_to "Edit Profile", edit_user_path, class:"button" %>
    <%= link_to "Delete Profile", user_path, data:{ turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this profile?"}, class:"button"%>
</section>