<%= form_with(model: [movie, review]) do |f| %>
    <%= render "shared/errors", object: review %>

    <%= f.label :comment %>
    <%= f.text_area :comment %>

    <%= f.label :stars %>
    <% Review::STARS.each do |star| %>
        <span class="star">
            <%= f.radio_button :stars, star %>
            <%= label_tag star %>
        </span>
    <% end %>
    <%= f.submit%>
<% end %>