<h1><%= pluralize(@reviews.size, 'review')%> for <%= link_to @movie.title, @movie %> </h1>
<ul class="reviews">
    <% @reviews.each do |r| %>
    <li>
        <%= render "shared/stars", percent: r.stars_as_percent %>
        <p>
            <%= link_to r.name, [r.movie, r] %>
            <span class="date">
                <%= time_ago_in_words(r.created_at)%> ago
            </span>
        </p>
        <p>
            <%= r.comment %>
        </p>
    </li>
    <% end %>
</ul>